/* 全体のスタイル */
body {
    background-color: #1c1c1c;
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    width: 435px;
    height: 600px;
    --sb-track-color: #232e33;
    --sb-thumb-color: #040404;
    --sb-size: 8px;
}

/* コンテナ */
#anime-lists {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* 各リストのスタイル */
.anime-list {
    background-color: #2c2c2c;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

/* トグルボタン */
.toggle-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 15px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
}

.toggle-btn:after {
    content: '▼';
    float: right;
}

/* トグルを閉じるときの矢印変更 */
.toggle-btn.active:after {
    content: '▲';
}

/* コンテンツ部分 */
.list-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 15px;
}

.list-content.open {
    will-change: max-height;
    max-height: 500px;
    /* 高さはリストの内容によって調整 */
    transition: max-height 0.3s ease-in;
    padding: 5px 5px;
    overflow-y: auto;
    /* 縦方向のスクロールを有効に */
}

/* カードデザイン */
.anime-card,
.episode-card {
    display: flex;
    align-items: stretch;
    background-color: #333;
    border-radius: 5px;
    margin: 0px;
    padding: 8px;
    width: 400px;
    height: 90px;
}

.anime-card .thumbnail > img ,
.episode-card .thumbnail > img {
    border-radius: 5px;
    margin-right: 10px;
    width: 160px;
    height: 90px;
}

/* newアイコンのスタイル */
.overlay-icon {
    position: relative; /* 相対位置に設定 */
    top: -100px;
    right: 6px;
    width: 28px;
    height: 28px;
    background-image: url('images/new-icon-2-blue.png');
    background-size: cover;
    background-repeat: no-repeat;
}


.anime-card h2,
.episode-card h2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* 行数を2行に固定 */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    /* 省略記号 (...) を表示 */
    line-clamp: 2;
    font-size: 12px;
    font-weight: 700;
    margin: 0;
    color: inherit;
    overflow: hidden;
}
.anime-card h2, #playlist .episode-card h2 {
    max-width: 230px;
}
#playlist .episode-card h2.short-title {
    display: none;
}
.anime-card .current-episode,
.episode-card .current-episode {
    color: #bbb;
    font-size: 0.9em;
}

.episode-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.release-until-date span {
    margin-right: 10px;
}

.anime-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.release-until-date {
    display: flex;
    justify-content: flex-start;
    margin-right: 10px;
}

/* アニメカードのホバー効果 */
.anime-card:hover,
.episode-card:hover {
    background-color: #555;
    /* ホバー時の背景色 */
    transition: background-color 0.3s ease;
    /* 色が変わるスムーズなアニメーション */
}

/* 視聴済みエピソードセクション */
.watched-section {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #666;
    /* 上部に線を追加して区切りを明確に */
}

.watched-section h4 {
    color: #bbb;
    font-size: 1em;
    margin-bottom: 10px;
}

/* 視聴済みエピソードのスタイル */
.episode-card.watched {
    background-color: #5d5d5d;
    /* 背景をやや白く */
    opacity: 0.4;
    /* 半透明にすることで薄く表示 */
    transition: opacity 0.3s ease;
}

.episode-card.watched:hover {
    opacity: 0.8;
    /* ホバー時には少し見やすくする */
}

/* エピソードカードのボタン */
.episode-button {
    background-color: #ffffff00;
    color: #fff;
    border: none;
    margin: 2px;
    cursor: pointer;
    border-radius: 5px;
    width: 38px;
    height: 30px
}

/* エピソードdivのスタイル */
.episode-title-div {
    position: relative;
}

.episode-title{
    display: inline-block;
}

/* 有料アイコンのスタイル */
.iconPayment {
    display: inline-block;
    padding: 2px;
    position: absolute;
    top: 38px;
    right: -214px;
    font-size: 10px;
    border: #c90 solid 1px;
    color: #c90;
    line-height: 1em;
}

.episode-button:hover {
    background-color: #333;
}

/* 視聴済みボタンの個別スタイル */
.watchedButton {
    color: #4CAF50;
    /* 緑色 */
}

/* キャンセルボタンの個別スタイル */
.unwatchedButton {
    color: #f44336;
    /* 赤色 */
}

/* 視聴切りに移動ボタンの個別スタイル */
/* .moveToDroppedButton {
  
} */
/* #unwatched-episodeの中のキャンセルボタンを非表示 */
.episode-card:not(.watched) .unwatchedButton {
    display: none;
}

/* #watched-episodeの中の視聴済みボタンを非表示 */
.episode-card.watched .watchedButton {
    display: none;
}

/* 視聴中アニメリストの中の視聴中に移動ボタンを非表示 */
#watching-anime-list .moveToWatchingButton {
    display: none;
}

/*　視聴切りアニメリストの中の視聴済みに移動ボタンを非表示 */
#dropped-anime-list .moveToDroppedButton {
    display: none;
}

/* アニメカード内のエピソードリスト内のエピソードカードのスタイル */
/* エピソードリストのスタイル */
#watching-anime-list>div {
    background-color: #2c2c2c;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;
}

.episode-card.watched .overlay-icon {
    display: none;
}

.list-content.episode-list {
    background-color: #444;
    width: 406px;
}

.list-content.episode-list .episode-card {
    width: 380px;
    height: 40px;
    border-radius: 0%;
    margin-bottom: 1px;
    border: solid;
    border-color: #6f6f6f;
    border-width: thin;
}
.list-content.episode-list .episode-card h2:not(.short-title) {
    display: none;
}
.list-content.episode-list .episode-card h2.short-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    width: 100%;
    
}

.anime-card-top-rounded {
    border-radius: 5px 5px 0px 0px;
}

.thumbnail {
    position: relative;
}
.list-content.episode-list .episode-card .thumbnail {
    display: none;
    /* サムネイルを非表示 */
}

/* エピソードカード内のボタンコンテナーのスタイル */
.episode-buttons {
    display: flex;
    justify-content: flex-start;
    width: 60%;
}
/* エピソードカード内のprimeVideoボタンのスタイル */
img.primeVideoIcon {
    width: 20px;
    height: 20px;
}

/* アニメカード内のエピソードカードの有料アイコンのスタイル */
.list-content.episode-list .iconPayment {
    display: inline-block;
    padding: 2px;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 10px;
    border: #c90 solid 1px;
    color: #c90;
    line-height: 1em;
}
.list-content.episode-list .episode-card .episode-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.list-content.episode-list .episode-card .episode-info .episode-number {
    display: block;
}

.list-content.episode-list .episode-card .episode-info .release-until-date {
    display: flex;
    align-content: flex-end;
    width: 70%;
}

.list-content.episode-list .episode-card .episode-info .release-until-date span {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    margin-right: 10px;
}

.list-content.episode-list .episode-card .episode-info .episode-buttons {
    width: unset;
} 

.list-content.episode-list .episode-card .episode-info .episode-button {
    margin: 0px;
    width: 25px;
    height: 20px;
}

#watching-anime-list .episode-button i {
    margin: 2px 0px 0px 0px;
}

.anime-episode-toggle-btn {
    background-color: #ffffff00;
    border: #ffffff00;
}

.anime-episode-toggle-btn:hover {
    background-color: #333;
}

/* 未視聴かつ期限切れのエピソードカードのスタイル */
.list-content.episode-list .episode-card.expired.unwatched {
    background-color: #531e1e;
    /* 背景をやや白く */
    opacity: 0.4;
    /* 半透明にすることで薄く表示 */
    transition: opacity 0.3s ease;
}

/* スクロールバーのスタイル */
::-webkit-scrollbar {
    width: var(--sb-size);
}

::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 4px;
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

/* 連続再生を切り替えるボタンのスタイル */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #4CAF50;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

.switch-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.switch-container > span {
    margin-right: 5px;
}

/* ヘッダーのボタンコンテナーのスタイル */
.header-container {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}

.header-container > div {
    margin-right: 10px;
}

.sync-button-container {
    margin-right: 10px;
}

/* ランキングのアニメカードのスタイル */
#anime-ranking .anime-buttons {
    display: none;
}

/* 拡張機能の説明のスタイル */
.description {
    margin-top: 20px;
    font-size: 12px;
    color: #bbb;
}